<div class="column">
  <div class="row">
    <div  *ngFor="let gif of resultados" class="col-md-4 col-sm-6">
      <div class="animate__animated animate__fadeIn">
        <div class="card my-5">
          <div class="card-title">
            <img class="card-img-top img-fluid" [src]="gif.images.downsized.url">
          </div>
          <div class="card-body">
            <p class="card-text">
              {{ gif.title}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>